@import '../../assets//styles/settings';

.contacts-page-wrapper {
    background-color: $dark-lighter;
    padding: 50px 100px;

    .row {
        margin-top: 50px;
        @include grid(2, 20px);
        grid-template-columns: 2fr 700px;

        .left {
            @include flex(column, $gap: 15px);

            .info {
                margin-top: 30px;

                p {
                    margin-top: 10px;
                    line-height: 30px;
                    color: lightgray;
                    width: 80%;
                }
            }
        }

        .rigth {
            form {
                @include flex();
                flex-direction: column;
                gap: 12px;

                .form-control {
                    width: 80%;

                    input {
                        display: block;
                        width: 100%;
                        background-color: $dark;
                        border: 2px solid transparent;
                        padding: 20px;

                        &:hover {
                            border-color: $warning;
                        }

                        &:focus {
                            border-color: $warning;
                            background-color: $warning-t;
                            box-shadow: 0 0 5px $warning;

                            &::placeholder {
                                color: $light;
                            }
                        }

                        &:invalid {
                            background-color: $danger;
                        }

                        &.phone-input {
                            padding: 25px 40px;
                        }
                    }

                    button {
                        width: 100%;
                        padding: 15px;
                        background-color: $dark-lighter;

                        &:hover {
                            background-color: $warning-t;
                        }
                    }

                    div {
                        .flag-dropdown {
                            background-color: $dark;
                            border: 1px solid transparent;

                            &.open {
                                ul.country-list {
                                    li.country {
                                        span.country-name {
                                            color: $dark;
                                        }
                                    }
                                }
                            }

                            &:hover {
                                background-color: $dark;
                                border: 1px solid $light;
                            }

                        }
                    }
                }
            }
        }
    }

    .maps {
        margin-top: 100px;
        @include flex($gap: 20px);

        .heading-wrapper {
            margin: 20px 0;
        }
    }
}

@media (max-width: $xx-large-screen) {
    .contacts-page-wrapper {
        padding: 50px;
    }
}

@media (max-width: $x-large-screen) {
    .contacts-page-wrapper {
        .row {
            grid-template-columns: 1fr 600px;

            .right {
                form {
                    .form-control {
                        width: 500px;
                    }
                }
            }
        }
    }
}

@media (max-width: $large-screen) {
    .contacts-page-wrapper {
        padding: 50px 20px;

        .row {
            grid-template-columns: 1fr;

            .right {
                form {
                    max-width: 500px;
                    width: 100%;


                    .form-control {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: $medium-screen) {
    .contacts-page-wrapper {
        .maps {
            flex-direction: column;
        }
    }
}