@import "../../assets/styles/settings";

.contacts-wrapper {
    background-color: $dark-lighter;
    padding: 100px;

    .contacts-info {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 50px;

        .left {
            .info-bar {
                margin: 40px 0;
                p {
                    color: lightgray;
                }
            }
        }
        .right {
            padding: 20px;

            input,
            button {
                padding: 15px 20px;
                width: 100%;
                display: block;
                margin-bottom: 15px;
                outline: none;
                border: none;
                background-color: $dark;
                color: snow;
                border: transparent 2px solid;

                &::placeholder {
                    color: darkgray;
                    font-size: 0.8em;
                }
                &:hover,
                &:focus {
                    border: 2px solid orange;
                    box-shadow:
                        5px 5px 25px $warning,
                        -5px -5px 25px $warning,
                        10px 10px 50px black,
                        -10px -10px 50px black,
                        inset 0 1px 30px $warning-t,
                        inset 0 -1px 30px $warning-t;
                }
            }
        }
    }
    .contact-maps {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        div {
            background-color: lightgray;
            width: 100%;
            height: 250px;
        }
    }
}
