<!-- obj  ==  profile object -->
{% extends 'base.html' %}


{% block css %}
<style>
    .cars-container {
        margin-top: 50px;
    }

    .cars-container .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .car-info {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    .car-info a {
        color: blue;
        text-decoration: none;
    }

    .car-info a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}



{% block content %}
<div class="profile-container" style="display: flex; gap:50px;">
    <div class="left">
        <img src="{{obj.image.url}}" width="300" height="300" style="border-radius: 50%;">
    </div>
    <div class="right">
        <h2>{{obj.user.username}}</h2>
        {% if obj.user.email %}
        <a href="mailto:{{obj.user.email}}">
            {{obj.user.email}}
        </a>
        {% else %}
        <p>No email</p>
        {% endif %}
    </div>
</div>


<div class="cars-container">
    <h2>Обявление</h2>

    <div class="content">
        {% for car in cars %}
        <div class="car-info">
            <h3><b>Brand: </b>{{car.brand}}</h3>
            <p><b>Model: </b>{{car.model}}</p>
            <p><b>Price: </b>{{car.price}}</p>
            <a href="{% url 'car_details_view' car.id %}">Подробнее</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}