@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "./settings";

:root {
    font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease-out;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font: inherit;
}

a {
    font-weight: 500;
    color: $gray;
    text-decoration: none;

    &:hover {
        color: $dark;
    }

    &.active {
        color: $black;
        font-weight: bold;
    }
}

h1 {
    font-size: 2.5em;
    line-height: 1.1;
    // font-family: "Roboto Serif", sans-serif;
    font-weight: 600;
}

button {
    padding: 10px 20px;
    border: none;
    outline: none;
    color: snow;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10px;

    span {
        margin-right: 10px;
    }
}

button.red-btn {
    background: $red;
}

button.purple-btn {
    background: $purple;
}

button.green-btn {
    background: $green;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border-radius: 10px;
}