@import "./settings";

.nft-form-wrapper {
    h1 {
        position: absolute;
        left: 0;
        top: 200px;
        width: 100%;
        height: 80vh;
        z-index: -1;
        text-align: center;
    }

    padding: 120px 100px;

    div.form {
        @include grid($gap: 100px, $columns: 2, $align: flex-start);
        padding: 50px;

        form {
            padding: 0 20px;
            width: 600px;

            .form-control {
                margin: 20px 0;

                label {
                    font-weight: bold;
                    display: block;
                    margin-bottom: 5px;
                }

                small {
                    display: block;
                    margin: 10px 0;
                    color: $gray;
                }

                input,
                textarea {
                    width: 100%;
                    padding: 20px;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                    background-color: $text-color;
                    margin-bottom: 5px;

                    &::placeholder {
                        color: $gray;
                        font-family: sans-serif;
                    }
                }

                textarea {
                    height: 150px;
                }

                .nft-image-wrapper {
                    position: relative;
                    background-color: $text-color;
                    width: 100%;
                    @include flex(column, center, center, 0);
                    border-radius: 10px;
                    padding: 50px 0;

                    input[type="file"] {
                        cursor: pointer;
                        height: 150px;
                        width: 100%;
                        position: absolute;
                        opacity: 0;
                    }

                    small {
                        color: $gray;
                    }
                }

                .options-wrapper {
                    background-color: $text-color;
                    @include flex(row, flex-start);
                    padding: 10px;
                    border-radius: 10px;
                    position: relative;
                    cursor: pointer;

                    img {
                        position: relative;
                        top: 3px;
                    }

                    .option-value {
                        img {
                            position: absolute;
                            right: 20px;
                            top: 30px;
                        }
                    }

                    .drp-content {
                        position: absolute;
                        z-index: 10;
                        top: 65px;
                        left: 0;
                        background-color: $text-color;
                        border-radius: 10px;
                        box-shadow: 0 10px 20px $gray-t;
                        display: none;

                        div {
                            padding: 10px 20px;
                            background-color: $text-color;
                            border-radius: 10px;
                            width: 100%;
                            width: 560px;

                            &:hover {
                                background-color: $light;
                                color: $black;
                                cursor: pointer;
                            }
                        }
                    }
                }

                button {
                    display: block;
                    width: 100%;
                    padding: 20px;
                    font-size: 1.6em;
                    cursor: pointer;
                }
            }

            .name-and-cost {
                @include grid();
                grid-template-columns: 4fr 1fr;
            }
        }

        .demonstration {
            padding: 30px;
            border-radius: 20px;
            // background: linear-gradient(to bottom, $text-color, $light);
            background-color: $light;

            // box-shadow only to the bottom
            box-shadow: 0 10px 50px $gray-t;

            h2 {
                text-align: center;
                margin-bottom: 10px;
            }

            img {
                border-radius: 20px 20px 0 0;
            }

            .content {
                margin-top: 25px;
                @include grid($columns: 2, $gap: 20px, $align: flex-start);

                .left {
                    b {
                        display: block;
                        text-align: left;
                        font-size: 2em;
                    }

                    h2.author-info {
                        margin: 15px 0;
                        @include flex(row, flex-start);
                    }
                }

                .right {
                    padding-right: 20px;

                    div,
                    p {
                        margin: 15px 0;
                        text-align: right;
                    }

                    p {
                        color: $gray;
                    }

                    div {
                        padding: 20px 10px 0 0;
                        font-size: 1.6em;
                        font-family: sans-serif;
                        font-weight: bold;

                        img {
                            margin-right: 10px;
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }
}