@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-out;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font: inherit;
}

a {
  font-weight: 500;
  color: #6b6b6b;
  text-decoration: none;
}
a:hover {
  color: #191919;
}
a.active {
  color: #000000;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 600;
}

button {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: snow;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 10px;
}
button span {
  margin-right: 10px;
}

button.red-btn {
  background: linear-gradient(to right, #ff56bb, #ff8f77);
}

button.purple-btn {
  background: linear-gradient(to right, #6e56ff, #b073ff);
}

button.green-btn {
  background: linear-gradient(to right, #56c2ff, #48fe9c);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 10px;
}

.explore-wrapper .explore-content {
  padding-bottom: 150px;
}
.explore-wrapper .explore-content .title {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.explore-wrapper .explore-content .title h1 {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 60px;
}
.explore-wrapper .explore-content .title .searchbar {
  width: 40vh;
}
.explore-wrapper .explore-content .title .searchbar .right input {
  border: none;
  outline: none;
}
.explore-wrapper .explore-content .explore-body .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.explore-wrapper .explore-content .explore-body .top button {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}
.explore-wrapper .explore-content .explore-body .middle .nfts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  display: none;
  position: relative;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft.active {
  display: block;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .liked,
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .like {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(56, 56, 0, 0.5);
  color: snow;
  display: none;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .liked svg,
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .like svg {
  transform: scale(1.5);
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .liked:hover,
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .like:hover {
  background-color: rgba(83, 83, 0, 0.8);
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .liked {
  display: flex;
  color: yellow;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft:hover .like {
  display: flex;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .nft-image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .details h3 {
  margin: 20px 0;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .details .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .details .info a:first-child {
  display: none;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .details .info .owner a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .details .info .price p {
  color: gray;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .details .info .price span {
  display: flex;
  align-items: center;
  text-align: center;
}
.explore-wrapper .explore-content .explore-body .middle .nfts .nft .details .info .price span p {
  color: #000;
  font-weight: 600;
}

@media (max-width: 1300px) {
  .explore-wrapper .explore-content .explore-body .middle .nfts {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 900px) {
  .explore-wrapper .explore-content .title .searchbar {
    width: 30vh;
  }
  .explore-wrapper .explore-content .explore-body .middle .nfts {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (max-width: 500px) {
  .explore-wrapper .explore-content .explore-body .middle .nfts {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}/*# sourceMappingURL=explore.css.map */