@use './resets';
@import './settings';

.explore-wrapper {
    .explore-content {
        padding-bottom: 150px;
        .title {
            height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 100px;

            h1 {
                font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
                font-size: 60px;
            }

            .searchbar {
                width: 40vh;

                .right {
                    input {
                        border: none;
                        outline: none;
                    }
                }
            }
        }

        .explore-body {
            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    background-color: transparent;
                    border: 1px solid #000;
                    color: #000;
                }
            }

            .middle {
                .nfts {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 50px;
                    .nft {
                        width: 100%;
                        background-color: #fff;
                        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
                        cursor: pointer;
                        padding: 10px;
                        border-radius: 10px;
                        display: none;
                        position: relative;

                        &.active {
                            display: block;
                        }

                        .liked,
                        .like {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            @include flex(row, center, center);
                            cursor: pointer;
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            background-color: rgba(56, 56, 0, 0.5);
                            color: snow;
                            display: none;

                            svg {
                                transform: scale(1.5);
                            }

                            &:hover {
                                background-color: rgba(83, 83, 0, 0.8);
                            }
                        }

                        .liked {
                            display: flex;
                            color: yellow;
                        }

                        &:hover {
                            .like {
                                display: flex;
                            }
                        }

                        .nft-image {
                            width: 100%;
                            height: 300px;
                            object-fit: cover;
                            border-radius: 10px;
                        }

                        .details {
                            h3 {
                                margin: 20px 0;
                            }

                            .info {
                                a:first-child {
                                    display: none
                                }

                                @include flex(row, space-between);
                                margin-bottom: 10px;

                                .owner {
                                    a {
                                        @include flex($gap: 0);
                                    }
                                }

                                .price {
                                    p {
                                        color: gray;
                                    }

                                    span {
                                        display: flex;
                                        align-items: center;
                                        text-align: center;

                                        p {
                                            color: #000;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1300px){
    .explore-wrapper{
        .explore-content{
            .explore-body{
                .middle{
                    .nfts{
                        grid-template-columns: repeat(3, 1fr);
                        gap: 20px;
                    }
                }
            }
        }
    }
}
@media (max-width:900px){
    .explore-wrapper{
        .explore-content{
            .title{
                .searchbar{
                    width: 30vh;
                }
            }
            .explore-body{
                .middle{
                    .nfts{
                        grid-template-columns: repeat(2, 1fr);
                        gap: 10px;
                    }
                }
            }
        }
    }
}
@media (max-width:500px){
    .explore-wrapper{
        .explore-content{
            .explore-body{
                .middle{
                    .nfts{
                        grid-template-columns: repeat(1, 1fr);
                        gap: 10px;
                    }
                }
            }
        }
    }
}