@use './resets';
@import './settings';

body {
    overflow-x: hidden;
    .main-container-for-messages {
        padding: 10px 250px;
        margin: 0 50px;

        .messages {
            li {
                margin: 10px 0;
                padding: 10px;
                border-radius: 5px;
            }
        }

        .info {
            background-color: #d9edf7;
            color: #31708f;
        }

        .success {
            background-color: #dff0d8;
            color: #3c763d;
        }

        .warning {
            background-color: #fcf8e3;
            color: #8a6d3b;
        }

        .error {
            background-color: #f2dede;
            color: #a94442;
        }

        img {
            object-fit: cover;
        }
    }

    .base-container {
        position: relative;
        .set-width{
            width: 100%;
            max-width: 180vh;
            padding: 0 20px;
            margin: 0 auto;

        }
    }

    .modal-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px);
        background-color: #00000077;
        z-index: 20;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;

        &.open {
            display: flex;

        }

        .cancel {
            width: 500px;
            display: flex;
            justify-content: right;

            button {
                width: 40px;
                height: 40px;
                background-color: transparent;
                padding: 0;
                cursor: pointer;
            }
        }

        .modal-content {
            background-color: #fff;
            width: 500px;
            padding: 20px;
            border-radius: 10px;
            height: auto;

            .top {
                h1 {
                    text-align: center;
                }
            }

            .middle {
                display: flex;
                flex-direction: column;
                gap: 50px;

                .logout-content {
                    display: flex;
                    flex-direction: column;

                    p {
                        padding: 20px;
                        font-size: 20px;
                        text-align: center;
                    }

                    .logout {
                        margin: 20px 0;
                        width: 100%;
                        background: $purple;
                        color: #fff;
                        padding: 10px 20px;
                        border-radius: 5px;
                        text-align: center;
                    }
                }

                .links {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    gap: 10px;

                    a {
                        width: 100%;
                        padding: 10px;
                        border-radius: 10px;
                        color: #fff;

                        &.login {
                            background: $red;
                        }

                        &.signup {
                            background: $green;
                        }

                        &.github {
                            background-color: #1b1f23;
                            padding: 0;

                            img {
                                width: 40px;
                            }
                        }

                        &.google {
                            background-color: #fff;
                            padding: 0;
                            border: 1px solid #000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 40px;

                            img {
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}