@use './resets';
@import './settings';

.lyosha-media-wrapper {
    .block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;
    }

    .first-container {
        max-width: 50%;

    }

    .text {
        font-size: 16px;
        color: #888;
        letter-spacing: 1.5px;
        margin-bottom: 10px;
    }

    .text-2 {
        margin: 20px 0;

        h1 {
            font-size: 64px;
            line-height: 1.1;
            margin: 0;
            color: #000;
        }
    }

    .text-3 {
        font-size: 20px;
        color: #555;
        margin-bottom: 30px;

        p {
            margin: 0;
            line-height: 1.5;
        }
    }

    .btn-wallet {
        button {
            display: flex;
            align-items: center;
            background: linear-gradient(90deg, #FF56BB, #FF8F77);
            border: none;
            border-radius: 20px;
            padding: 15px 40px;
            font-size: 18px;
            font-family: sans-serif;
            color: #fff;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background: linear-gradient(90deg, #FF8F77, #FF56BB);
            }

            img {
                width: 28px;
                height: 28px;
                margin-right: 10px;
            }

            p {
                margin: 0;
            }
        }
    }

    .second-container {
        max-width: 50%;
        position: relative;

        img {
            width: 100%;
            border-radius: 10px;
            position: relative;
            z-index: 1;
        }

    }

    #open-modal {
        background: linear-gradient(90deg, #FF56BB, #FF8F77);
        border: none;
        color: white;
        padding: 15px 25px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.3s, transform 0.3s;

        &:hover {
            background: linear-gradient(90deg, #FF8F77, #FF56BB);
            transform: scale(1.05);
        }
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fff;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        max-width: 500px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        animation: fadeIn 0.3s ease-out;
    }

    .close-button {
        color: #aaa;
        float: right;
        font-size: 24px;
        font-weight: bold;

        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }

    #wallet-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    #wallet-address {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        transition: border-color 0.3s;

        &:focus {
            border-color: #FF56BB;
        }

    }
}



@media (max-width:1060px){
    .lyosha-media-wrapper{
        .block{
            justify-content: center;
            .first-container {
                max-width: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                .text,.text-2, .text-3{
                    width: 100%;
                    text-align: center;
                }
            }
            .second-container{
                display: none;
            }
        }
    }
}




@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}