@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-out;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font: inherit;
}

a {
  font-weight: 500;
  color: #6b6b6b;
  text-decoration: none;
}
a:hover {
  color: #191919;
}
a.active {
  color: #000000;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 600;
}

button {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: snow;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 10px;
}
button span {
  margin-right: 10px;
}

button.red-btn {
  background: linear-gradient(to right, #ff56bb, #ff8f77);
}

button.purple-btn {
  background: linear-gradient(to right, #6e56ff, #b073ff);
}

button.green-btn {
  background: linear-gradient(to right, #56c2ff, #48fe9c);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 10px;
}

.messages-page-wrapper {
  width: 140vh;
  min-height: 70vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 50px;
}
.messages-page-wrapper .left-sidebar-wrapper {
  background-color: rgba(211, 211, 211, 0.384);
  padding: 10px 0;
}
.messages-page-wrapper .left-sidebar-wrapper .my-profile {
  padding: 0 10px;
}
.messages-page-wrapper .left-sidebar-wrapper .my-profile .info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.messages-page-wrapper .left-sidebar-wrapper .my-profile .info img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.messages-page-wrapper .left-sidebar-wrapper .my-profile .info h2 {
  color: #58a4fd;
}
.messages-page-wrapper .left-sidebar-wrapper .my-profile .searchbox {
  background-color: #fff;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 10px 10px;
  gap: 20px;
  border-radius: 30px;
}
.messages-page-wrapper .left-sidebar-wrapper .my-profile .searchbox input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.messages-page-wrapper .left-sidebar-wrapper .other-profiles {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
  height: calc(70vh - 160px);
  overflow: auto;
}
.messages-page-wrapper .left-sidebar-wrapper .other-profiles .user {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}
.messages-page-wrapper .left-sidebar-wrapper .other-profiles .user:hover {
  background-color: lightgray;
}
.messages-page-wrapper .left-sidebar-wrapper .other-profiles .user.hidden {
  display: none;
}
.messages-page-wrapper .left-sidebar-wrapper .other-profiles .user .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.messages-page-wrapper .left-sidebar-wrapper .other-profiles .user .right .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}
.messages-page-wrapper .left-sidebar-wrapper .other-profiles .user .right .top .fullname {
  font-weight: 700;
  font-size: 20px;
  color: #58a4fd;
}
.messages-page-wrapper .left-sidebar-wrapper .other-profiles .user .right .top .time {
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  color: gray;
}
.messages-page-wrapper .left-sidebar-wrapper .other-profiles .user .right .bottom .message .last-message {
  font-size: 14px;
  color: gray;
}
.messages-page-wrapper .left-sidebar-wrapper .other-profiles .user .right .bottom .message .unread-messages {
  float: right;
  background: linear-gradient(to right, #6e56ff, #b073ff);
  padding: 5px 10px;
  border-radius: 10px;
  color: #ffffff;
}
.messages-page-wrapper .middle-content-wrapper .companion-profile-info {
  height: 70px;
  border-bottom: 1px solid #eee;
}
.messages-page-wrapper .middle-content-wrapper .companion-profile-info .content {
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 20px;
}
.messages-page-wrapper .middle-content-wrapper .companion-profile-info .content .target-user-fullname {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
.messages-page-wrapper .middle-content-wrapper .companion-profile-info .content .target-user-fullname .is-online {
  display: inline-block;
  border-radius: 50%;
  font-size: 0.7em;
  color: greenyellow;
}
.messages-page-wrapper .middle-content-wrapper .companion-profile-info .content .target-user-fullname .last-login {
  display: block;
  font-size: 0.5em;
  color: gray;
}
.messages-page-wrapper .middle-content-wrapper .companion-profile-info .content .target-user-fullname.saved-messages {
  position: relative;
  top: 15px;
}
.messages-page-wrapper .middle-content-wrapper .messages-content {
  height: calc(70vh - 100px - 70px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid #eee;
  position: relative;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button,
.messages-page-wrapper .middle-content-wrapper .messages-content span {
  width: auto;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 45%;
  text-wrap: pretty;
  position: relative;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button.my-message,
.messages-page-wrapper .middle-content-wrapper .messages-content span.my-message {
  margin-left: auto;
  background-color: #4299ff;
  color: #fff;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button.my-message .time,
.messages-page-wrapper .middle-content-wrapper .messages-content span.my-message .time {
  color: rgba(255, 255, 255, 0.5490196078);
}
.messages-page-wrapper .middle-content-wrapper .messages-content button.companion-message,
.messages-page-wrapper .middle-content-wrapper .messages-content span.companion-message {
  margin-right: auto;
  background-color: #dbe8ff;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button .time,
.messages-page-wrapper .middle-content-wrapper .messages-content span .time {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 14px;
  color: gray;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button .delete-message-icon,
.messages-page-wrapper .middle-content-wrapper .messages-content span .delete-message-icon {
  width: 20px;
  height: 20px;
  padding: 8px 10px 12px 10px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.3);
  color: snow;
  display: inline-block;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 9;
  cursor: pointer;
  font-size: 1.5em;
  bottom: 2px;
  opacity: 0;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button .update-message-icon,
.messages-page-wrapper .middle-content-wrapper .messages-content span .update-message-icon {
  background-color: transparent;
  bottom: 30px;
  position: absolute;
  padding: 0;
  border-radius: 10px;
  color: snow;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 9;
  cursor: pointer;
  font-size: 1.5em;
  opacity: 0;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button .update-message-icon img,
.messages-page-wrapper .middle-content-wrapper .messages-content span .update-message-icon img {
  width: 20px;
  height: 20px;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button.companion-message span,
.messages-page-wrapper .middle-content-wrapper .messages-content span.companion-message span {
  right: 2px;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button.companion-message:hover span,
.messages-page-wrapper .middle-content-wrapper .messages-content span.companion-message:hover span {
  opacity: 1;
  right: -22px;
  background: linear-gradient(to right, #ff56bb, #ff8f77);
}
.messages-page-wrapper .middle-content-wrapper .messages-content button.my-message button,
.messages-page-wrapper .middle-content-wrapper .messages-content button.my-message span,
.messages-page-wrapper .middle-content-wrapper .messages-content span.my-message button,
.messages-page-wrapper .middle-content-wrapper .messages-content span.my-message span {
  left: 2px;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button.my-message:hover span,
.messages-page-wrapper .middle-content-wrapper .messages-content span.my-message:hover span {
  opacity: 1;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button.my-message:hover span.delete-message-icon,
.messages-page-wrapper .middle-content-wrapper .messages-content span.my-message:hover span.delete-message-icon {
  background: linear-gradient(to right, #ff56bb, #ff8f77);
  left: -22px;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button.my-message:hover button,
.messages-page-wrapper .middle-content-wrapper .messages-content span.my-message:hover button {
  opacity: 1;
}
.messages-page-wrapper .middle-content-wrapper .messages-content button.my-message:hover button.update-message-icon,
.messages-page-wrapper .middle-content-wrapper .messages-content span.my-message:hover button.update-message-icon {
  left: -25px;
}
.messages-page-wrapper .middle-content-wrapper .form-content {
  height: 100px;
  background-color: #dbe8ff;
}
.messages-page-wrapper .middle-content-wrapper .form-content form {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.messages-page-wrapper .middle-content-wrapper .form-content form input {
  width: 80%;
  height: 40px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 30px;
}
.messages-page-wrapper .middle-content-wrapper .form-content form button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  background-color: #4299ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  cursor: pointer;
}
.messages-page-wrapper .middle-content-wrapper .form-content form button svg {
  transform: scale(1.1);
  position: relative;
  top: 2px;
  right: 1px;
}
.messages-page-wrapper .middle-content-wrapper .form-content form button:hover:not(:disabled) svg {
  transform: skew(10deg) scale(1.3);
}
.messages-page-wrapper .middle-content-wrapper .form-content form button:disabled {
  background-color: gray;
  cursor: not-allowed;
  transform: skew(0) scale(1);
}
.messages-page-wrapper .middle-content-wrapper .form-content form button.cancel-button {
  width: auto;
  padding: 10px 30px;
  border-radius: 10px;
  background: linear-gradient(to right, #ff56bb, #ff8f77);
  display: none;
}
@media (max-width: 1350px) {
  .messages-page-wrapper {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .messages-page-wrapper {
    grid-template-columns: 1fr 3fr;
  }
  .messages-page-wrapper .left-sidebar-wrapper .other-profiles .user .right .bottom .message {
    max-width: 20vw;
  }
}
@media (max-width: 700px) {
  .messages-page-wrapper .left-sidebar-wrapper .my-profile .info .fullname {
    display: none;
  }
  .messages-page-wrapper .left-sidebar-wrapper .my-profile .searchbox {
    gap: 0;
  }
  .messages-page-wrapper .left-sidebar-wrapper .my-profile .searchbox input {
    display: none;
  }
  .messages-page-wrapper .left-sidebar-wrapper .other-profiles .user .right {
    display: none;
  }
  .messages-page-wrapper .middle-content-wrapper .messages-content {
    align-items: center;
  }
  .messages-page-wrapper .middle-content-wrapper .messages-content span {
    max-width: 100%;
  }
  .messages-page-wrapper .middle-content-wrapper .messages-content span.my-message {
    margin-left: 0;
  }
  .messages-page-wrapper .middle-content-wrapper .messages-content span.companion-message {
    margin-right: 0;
  }
}/*# sourceMappingURL=messages.css.map */