@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-out;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font: inherit;
}

a {
  font-weight: 500;
  color: #6b6b6b;
  text-decoration: none;
}
a:hover {
  color: #191919;
}
a.active {
  color: #000000;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 600;
}

button {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: snow;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 10px;
}
button span {
  margin-right: 10px;
}

button.red-btn {
  background: linear-gradient(to right, #ff56bb, #ff8f77);
}

button.purple-btn {
  background: linear-gradient(to right, #6e56ff, #b073ff);
}

button.green-btn {
  background: linear-gradient(to right, #56c2ff, #48fe9c);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 10px;
}

.nft-wrapper {
  margin-bottom: 100px;
}
.nft-wrapper .nft-content {
  display: grid;
  width: 140vh;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  min-height: 550px;
  height: auto;
  justify-content: center;
}
.nft-wrapper .nft-content .left {
  width: 80%;
  height: 100%;
}
.nft-wrapper .nft-content .left img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nft-wrapper .nft-content .right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nft-wrapper .nft-content .right .title {
  display: flex;
  justify-content: space-between;
}
.nft-wrapper .nft-content .right .title .action-btns button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 0;
  border: 1px solid #000;
  background-color: transparent;
}
.nft-wrapper .nft-content .right .title .action-btns .modal-confirm {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.nft-wrapper .nft-content .right .title .action-btns .modal-confirm .modal-confirm-content {
  width: 430px;
  height: 240px;
  border-radius: 20px;
  background: #333333;
}
.nft-wrapper .nft-content .right .title .action-btns .modal-confirm .modal-confirm-content #close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: -30px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.nft-wrapper .nft-content .right .title .action-btns .modal-confirm .modal-confirm-content .form-data {
  margin: 10px 0;
}
.nft-wrapper .nft-content .right .title .action-btns .modal-confirm .modal-confirm-content .form-data h2 {
  font-family: DM Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}
.nft-wrapper .nft-content .right .title .action-btns .modal-confirm .modal-confirm-content .form-data a .create_A {
  width: 260px;
  height: 50px;
  padding: 19.01px 0px 0px 0px;
  gap: 30px;
  background: linear-gradient(108.39deg, #ff56bb 6.99%, #ff8f77 119.86%);
  color: #ffffff;
  border: none;
  padding: 15px 100px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  margin: 0 auto;
}
.nft-wrapper .nft-content .right .title .action-btns .modal-confirm .modal-confirm-content .form-data .create_B {
  width: 260px;
  height: 50px;
  padding: 19.01px 0px 0px 0px;
  gap: 30px;
  border-radius: 20px 0px 0px 0px;
  background: linear-gradient(108.39deg, #6e56ff 6.99%, #b073ff 119.86%);
  color: #ffffff;
  border: none;
  padding: 15px 100px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  margin: 0 auto;
}
.nft-wrapper .nft-content .right .price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nft-wrapper .nft-content .right .owner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nft-wrapper .nft-content .right .description .title {
  color: gray;
}
.nft-wrapper .nft-content .right .description .desc {
  font-size: 14px;
}
.nft-wrapper .wave {
  background: linear-gradient(45deg, #e7e7e7, #fafafa, #e7e7e7);
  -webkit-clip-path: polygon(100% 0, 100% 94%, 88% 98%, 73% 100%, 52% 97%, 37% 91%, 24% 86%, 11% 83%, 0 84%, 0 1%);
          clip-path: polygon(100% 0, 100% 94%, 88% 98%, 73% 100%, 52% 97%, 37% 91%, 24% 86%, 11% 83%, 0 84%, 0 1%);
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: -1;
}/*# sourceMappingURL=nft_details.css.map */