@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-out;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font: inherit;
}

a {
  font-weight: 500;
  color: #6b6b6b;
  text-decoration: none;
}
a:hover {
  color: #191919;
}
a.active {
  color: #000000;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 600;
}

button {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: snow;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 10px;
}
button span {
  margin-right: 10px;
}

button.red-btn {
  background: linear-gradient(to right, #ff56bb, #ff8f77);
}

button.purple-btn {
  background: linear-gradient(to right, #6e56ff, #b073ff);
}

button.green-btn {
  background: linear-gradient(to right, #56c2ff, #48fe9c);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 10px;
}

.nft-form-wrapper div.form {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}
.nft-form-wrapper div.form form {
  padding: 0 20px;
  width: 100%;
}
.nft-form-wrapper div.form form .form-control {
  margin: 20px 0;
  width: 100%;
}
.nft-form-wrapper div.form form .form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.nft-form-wrapper div.form form .form-control small {
  display: block;
  margin: 10px 0;
  color: #6b6b6b;
}
.nft-form-wrapper div.form form .form-control input,
.nft-form-wrapper div.form form .form-control textarea {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #f3f3f3;
  margin-bottom: 5px;
}
.nft-form-wrapper div.form form .form-control input::-moz-placeholder,
.nft-form-wrapper div.form form .form-control textarea::-moz-placeholder {
  color: #6b6b6b;
  font-family: sans-serif;
}
.nft-form-wrapper div.form form .form-control input::-moz-placeholder, .nft-form-wrapper div.form form .form-control textarea::-moz-placeholder {
  color: #6b6b6b;
  font-family: sans-serif;
}
.nft-form-wrapper div.form form .form-control input::placeholder,
.nft-form-wrapper div.form form .form-control textarea::placeholder {
  color: #6b6b6b;
  font-family: sans-serif;
}
.nft-form-wrapper div.form form .form-control textarea {
  height: 150px;
}
.nft-form-wrapper div.form form .form-control .nft-image-wrapper {
  position: relative;
  background-color: #f3f3f3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 10px;
  padding: 50px 0;
}
.nft-form-wrapper div.form form .form-control .nft-image-wrapper input[type=file] {
  cursor: pointer;
  height: 150px;
  width: 100%;
  position: absolute;
  opacity: 0;
}
.nft-form-wrapper div.form form .form-control .nft-image-wrapper small {
  color: #6b6b6b;
}
.nft-form-wrapper div.form form .form-control .options-wrapper {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.nft-form-wrapper div.form form .form-control .options-wrapper img {
  position: relative;
  top: 3px;
}
.nft-form-wrapper div.form form .form-control .options-wrapper .option-value img {
  position: absolute;
  right: 20px;
  top: 30px;
}
.nft-form-wrapper div.form form select {
  padding: 10px 20px;
  background-color: #f3f3f3;
  color: #333;
  border-radius: 10px;
  font-size: 20px;
  width: 100%;
}
.nft-form-wrapper div.form form button {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  padding: 20px;
  font-size: 1.6em;
  cursor: pointer;
}
.nft-form-wrapper div.form form .name-and-cost {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-template-columns: 4fr 1fr;
}
.nft-form-wrapper div.form .demonstration {
  padding: 30px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 50px rgba(107, 107, 107, 0.1882352941);
}
.nft-form-wrapper div.form .demonstration h2 {
  text-align: center;
  margin-bottom: 10px;
}
.nft-form-wrapper div.form .demonstration #preview-image {
  -o-object-fit: cover;
     object-fit: cover;
}
.nft-form-wrapper div.form .demonstration .content {
  margin-top: 25px;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  grid-template-columns: repeat(1, 3fr);
}
.nft-form-wrapper div.form .demonstration .content .col {
  padding-top: 10px;
}
.nft-form-wrapper div.form .demonstration .content .col .col_f {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}
.nft-form-wrapper div.form .demonstration .content .left b {
  display: block;
  text-align: left;
  font-size: 2em;
}
.nft-form-wrapper div.form .demonstration .content .left h2.author-info {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.nft-form-wrapper div.form .demonstration .content .right {
  padding-right: 20px;
}
.nft-form-wrapper div.form .demonstration .content .right div,
.nft-form-wrapper div.form .demonstration .content .right p {
  margin: 15px 0;
  text-align: right;
}
.nft-form-wrapper div.form .demonstration .content .right p {
  color: #6b6b6b;
}
.nft-form-wrapper div.form .demonstration .content .right div {
  padding: 20px 10px 0 0;
  font-size: 1.6em;
  font-family: sans-serif;
  font-weight: bold;
}
.nft-form-wrapper div.form .demonstration .content .right div img {
  margin-right: 10px;
  transform: scale(1.5);
}
.nft-form-wrapper div.form .demonstration .footer {
  left: 0px;
}
.nft-form-wrapper #collections-so-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media screen and (max-width: 1200px) {
  .nft-form-wrapper div.form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
  }
  .nft-form-wrapper div.form form .form-control input,
  .nft-form-wrapper div.form form .form-control textarea,
  .nft-form-wrapper div.form form .form-control select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #f3f3f3;
    margin-bottom: 5px;
  }
  .nft-form-wrapper div.form form .form-control .nft-image-wrapper {
    width: 100%;
    gap: 0;
    border-radius: 10px;
    padding: 30px 0;
  }
  .nft-form-wrapper div.form form .name-and-cost {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .nft-form-wrapper div.form select {
    width: 100%;
  }
  .nft-form-wrapper div.form button {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .nft-form-wrapper div.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    padding-left: 0px;
    justify-content: left;
    align-items: left;
  }
  .nft-form-wrapper div.form .demonstration {
    width: 60vh;
    height: auto;
    margin: 0 auto;
  }
}/*# sourceMappingURL=nft_form.css.map */