.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #2f2f2f;
    background-color: #fff;
    padding: 50px 0;
    input {
        border-radius: 50px;
        height: 60px;
        padding: 30px;
        border: 1px solid black;


    }

    .footer__addr {


        h2 {
            font-size: 15px;
            font-weight: 400;
        }
    }

    .footer__nav {
        display: flex;
        flex-flow: row wrap;
        .nav__title {
            font-weight: 400;
            font-size: 15px;
        }
    }

    address {
        font-style: normal;
        color: #999;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            line-height: 2em;
        }
    }
}




.nav__ul a {
    color: #999;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    grid-column: span 2;
    color: #999;

    span {
        display: flex;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: lightgray;
    }
}

.legal__links {
    display: flex;
    align-items: center;

    span {
        margin-right: 20px;
        justify-content: center;
        align-items: center;
    }

}

.heart {
    color: #2f2f2f;
}

footer label {
    width: 50px;
    height: 25px;
    display: block;
    background-color: #000;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    bottom: 10px;
}

input[type="checkbox"] {
    display: none;
}

.moving_circle {
    position: absolute;
    left: 0px;
    width: 20px;
    height: 19px;
    background: linear-gradient(108.39deg, #FF56BB 6.99%, #FF8F77 119.86%);
    border-radius: 100px;
    margin: 3px;
    transition: 0.2s;
}

input[type="checkbox"]:checked+.moving_circle {
    transform: translateX(23px);
}

.switcher {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .moon {
        position: relative;
        left: 45px;
        bottom: 35px;
    }

    .sun {
        position: relative;
        right: 45px;
        top: 17px;
    }
}


@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;

        .footer__nav>* {
            flex: 1;
        }

        .nav__item--extra {
            flex-grow: 1;
        }

        .footer__addr {
            flex: 1 0px;
        }

        .footer__nav {
            flex: 1 0px;
        }
    }
}


@media screen and (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 1;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 1 0px;
    }
}

@media screen and (max-width:1200px) {
    .footer {
        padding-left: 0px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 5px;
    }

    .footer__nav {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 20px;
        gap: 10px;
        padding-right: 0px;
        display: inline-block;
    }

    .footer .nav__item {
        display: block;
        margin-left: auto;
        margin-right: 0;
        text-align: left;
        padding-top: 20px;
    }
}

@media screen and (max-width:600px) {
    .footer {
        padding-left: 0px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .footer .footer__nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 0px;
        display: inline-block;
    }
}