@use './resets';
@import './settings';


.container {
    width: 100%;

    .treding-art {
        .top {
            display: flex;
            justify-content: space-between;
            height: 100px;
            align-items: center;
        }

        .bottom {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            width: 100%;
            .card {
                width: 290px;
                height: 350px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                box-shadow: 0px 4.57px 54.85px 0px #6e6e6e40;
                gap: 10px;
                border-radius: 10px;
                #name-like{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    p{
                        &:last-child{
                            text-align: right;
                        }
                    }
                }
                .image{
                    width: 100%;
                    height: 250px;
                    border-radius: 5px;
                    object-fit: cover;
                }
                p {
                    text-align: left;
                    width: 100%;
                    font-weight: 700;
                }

                .info {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .left {
                        display: flex;
                        align-items: center;
                    }

                    .right {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        p {
                            &:first-child {
                                font-weight: 400;
                                color: gray;
                            }

                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .featured-collections {
        margin: 100px 0;

        .top {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bottom {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;

            .card {
                height: 400px;
                width: 100%;
                box-shadow: 0px 3.6px 43.17px 0px #64646440;
                display: flex;
                padding: 15px;
                gap: 20px;
                border-radius: 10px;
                .left{
                    width: 400px;
                    height: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .right {
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    height: 95%;
                    justify-content: space-between;

                    .row {
                        display: flex;
                        align-items: center;
                    }

                    .row-flex {
                        display: flex;
                        width: 100%;
                        align-items: center;

                        span {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            text-align: center;

                            p {
                                &:first-child {
                                    color: gray;
                                }
                            }
                        }
                    }

                    .row-btn {
                        button {
                            width: 100%;
                            border-radius: 10px;
                            background: linear-gradient(108.39deg, #FF56BB 6.99%, #FF8F77 119.86%);
                            border: none;
                            outline: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 50px;
                            gap: 10px;
                            cursor: pointer;

                            p {
                                font-weight: 700;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media(max-width:1380px) {
    body {
        .container {
            .treding-art {
                .bottom {
                    grid-template-columns: repeat(2, 1fr);
                    justify-content: center;
                    align-items: center;

                    .card {
                        margin: 0 auto;
                    }
                }
            }

            .featured-collections {
                .bottom {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}
