[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
requests = "*"
jwt = "*"
django-cleanup = "*"
pillow = "*"
python-decouple = "*"
beautifulsoup4 = "*"
selenium = "*"
djangorestframework = "*"
django-cors-headers = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.12"
