{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-content">
            <div class="left">
                <img src="{% static 'icons/logo.png' %}" alt="">
                <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    
                    {{ form.login.errors }}
                    {{ form.login }}  
                    
                    {{ form.password.errors }}
                    {{ form.password }} 
                    
                    <button type="submit">Войти</button>
                </form>
            </div>
            <div class="right">
                <div class="wave"></div>
                <h1>Last NFTs</h1>
                <div class="carousel-nfts">
                    {% for nft in latest_nfts %}
                    <a href="{% url "nft_details" nft.id %}">
                        <div class="nft">
                            <img src="{{ nft.image.url }}" alt="{{ nft.name }}">
    
                            <h3>{{nft.name}}</h3>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>

