{% extends "base.html" %}
{% load socialaccount %}
{% load account %}
{% load static %}

{% block css %}
    <style>
        .panel {
            margin-top: 20px 0;
        }
        .panel .panel-heading {
            font-size: 2em;
        }
        .container {
            width: 50%;
            margin: 0 auto;
        }
        button,
        input:not([type="checkbox"]) {
            padding: 10px 20px;
            margin: 10px 0;
            display: block;
            width: 100%;
        }

        .row.social {
            width: 50%;
            margin: 50px auto;
            text-align: center;
        }
        .row.social .social-accounts {
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
            margin: 20px 0;
        }
        .row.social .social-accounts a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            background-color: #eee;
            padding: 5px 10px;
            border-radius: 10px;
            text-decoration: none;
            color: black;
        }
        .row.social .social-accounts a:hover {
            box-shadow: 0 8px 16px darkgray;
        }

    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="{% url 'account_login' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-muted">
            <small>
                Don't have an account? 
                <a href="{% url 'account_signup' %}">Sign up</a>
            </small>
        </div>
    </div>

    <div class="row social">
        <h2>Login with:</h2>
        <div class="social-accounts">
            <a href="#" class="social-login-link">
                <img src="{% static 'images/icons/github.png' %}" alt="Github register" width="50" height="50">
                Github
            </a>
            <a href="{% provider_login_url 'google' %}" class="social-login-link">
                <img src="{% static 'images/icons/google.png' %}" alt="Google register" width="62" height="62">
                Google
            </a>
        </div>
    </div>
</div>
{% endblock %}