{% extends "base.html" %}
{% load socialaccount %}
{% load account %}

{% block css %}
    <style>
        .panel {
            margin-top: 20px 0;
        }
        .panel .panel-heading {
            font-size: 2em;
        }
        .container {
            width: 50%;
            margin: 0 auto;
        }
        button,
        input:not([type="checkbox"]) {
            padding: 10px 20px;
            margin: 10px 0;
            display: block;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Signup</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="{% url 'account_signup' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}