@import "../../assets/styles/settings";

.about-page-wrapper {
    padding: 50px 0;

    .heading-wrapper,
    .content-wrapper {
        padding: 0 200px;
    }

    .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;

        img {
            max-width: 100%;
            object-fit: fill;
        }

        .info {
            margin-top: 50px;

            p {
                width: 100%;
                margin-bottom: 30px;
                font-size: 1.1em;
                color: lightgray;
            }

            .warning-btn {
                padding: 7px 25px;
                font-size: 1em;
                @include flex(row, center, center);
                gap: 10px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.second-about-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    color: #f0f0f0;
}

.second-about {
    max-width: 65%;
    margin-right: 20px;

    p {
        width: 80%;
        margin-bottom: 30px;
        font-size: 1.1em;
        color: lightgray;
    }

    h2 {
        color: $warning;
        padding-bottom: 20px;
        font-size: 1.3em;
    }

    img {
        max-width: 80%;
        object-fit: fill;
        margin-top: 20px;
    }
}

.languages-section {
    margin-top: 50px;
}

.languages-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.language-card {
    background-color: #333;
    border-radius: 12px;
    padding: 40px;
    font-size: 22px;
    color: snow;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    background-size: cover;
    background-position: center;
}

.language-card:hover {
    transform: rotateY(15deg) rotateX(15deg) scale(1.15);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
}

.python {
    background-image: url('../../assets/images/python.png');
}

.javascript {
    background-image: url('../../assets/images/js.png');
}

.django {
    background-image: url('../../assets/images/django.webp');
}

.rest {
    background-image: url('../../assets/images/rest.png');
}

.react {
    background-image: url('../../assets/images/react.png');
}


.languages-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: $warning;
    text-align: center;
}




@media (max-width: $xx-large-screen) {
    .about-page-wrapper {

        .heading-wrapper,
        .content-wrapper {
            padding: 0 100px;
        }
    }
}

@media (max-width: $x-large-screen) {
    .about-page-wrapper {
        .content-wrapper {
            grid-template-columns: 1fr 2fr;

            .info {
                p {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: $large-screen) {
    .about-page-wrapper {

        .heading-wrapper,
        .content-wrapper {
            padding: 0 10px;
            gap: 20px;
        }
    }
}

@media (max-width: $medium-screen) {
    .about-page-wrapper {
        .content-wrapper {
            grid-template-columns: 1fr 1.5fr;
        }
    }
}

@media (max-width: $small-screen) {
    .about-page-wrapper {

        .content-wrapper {
            grid-template-columns: 1fr;
        }
    }
}