@import "../../assets/styles/settings";

.about-page-wrapper {
    padding: 50px 0;

    .second-about-page-wrapper,
    .heading-wrapper,
    .content-wrapper {
        padding: 0 100px;
    }



    .content-wrapper {

        .info {
            margin-top: 50px;

            p {
                width: 100%;
                margin-bottom: 30px;
                font-size: 1.1em;
                color: lightgray;
            }

            .warning-btn {
                padding: 7px 25px;
                font-size: 1em;
                @include flex(row, center, center);
                gap: 10px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        img {
            float: left;
            margin-right: 15px;
            width: 400px;
            height: 450px;
            padding: 1em;

            filter: grayscale(50%);


            &:hover {
                filter: none;
            }
        }
    }


    .second-about-page-wrapper {
        margin-top: 100px;

        .second-about {
            margin-right: 20px;

            p {
                margin-bottom: 30px;
                font-size: 1.1em;
                color: lightgray;
            }

            h2 {
                color: $warning;
                margin-bottom: 30px;
                font-size: 1.3em;
            }
        }

        img {
            float: right;
            margin-left: 15px;
            width: 400px;
            height: 350px;
            filter: grayscale(50%);

            &:hover {
                filter: none;
            }


        }
    }


    .languages-section {
        margin: 100px 0 50px 0;

        h2 {
            font-size: 20px;
            margin: 20px 0;
            color: $warning;
            text-align: center;
        }

        .languages-grid {
            width: 40%;
            margin: 0 auto;
            @include flex(row, space-evenly, center, 20px);

            .language-card {
                border-radius: 50px;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
                transition: transform 0.15s ease-in-out;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                background-size: cover;
                background-position: center;
                filter: grayscale(50%);

                &:hover {
                    transform: scale(1.5);
                    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
                    filter: none;
                }

                &.python {
                    background-image: url('../../assets/images/python.png');
                }

                &.javascript {
                    background-image: url('../../assets/images/js.png');
                }

                &.django {
                    background-image: url('../../assets/images/django.webp');
                }

                &.rest {
                    background-image: url('../../assets/images/rest.png');
                }

                &.react {
                    background-image: url('../../assets/images/react.png');
                }
            }
        }
    }
}




@media (max-width: $xx-large-screen) {
    .about-page-wrapper {

        .heading-wrapper,
        .content-wrapper {
            padding: 0 100px;
        }
    }
}

@media (max-width: $x-large-screen) {
    .about-page-wrapper {
        .content-wrapper {
            padding: 0 50px;
            grid-template-columns: 1fr 2fr;


            .info {
                p {
                    width: 100%;
                }
            }
        }

    }
}

@media (max-width: $large-screen) {
    .about-page-wrapper {

        .heading-wrapper,
        .content-wrapper {
            padding: 0 100px;
            gap: 20px;
        }
    }
}

@media (max-width: $medium-screen) {
    .about-page-wrapper {
        padding: 0;
        margin: 0;

        .content-wrapper {

            padding: 0 50px;
            gap: 20px;
            grid-template-columns: 1fr 1fr;

        }

        .warning-btn {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .second-about-page-wrapper {
            padding: 0 50px;
        }



    }
}

@media (max-width: $small-screen) {
    .about-page-wrapper {

        .content-wrapper {
            padding: 0 20px;
            gap: 20px;
            grid-template-columns: 1fr;


        }



    }
}