{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>NFTs - Home</title>
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/trending_art.css' %}">
<link rel="stylesheet" href="{% static 'styles/media.css' %}">
<link rel="stylesheet" href="{% static 'styles/leader_board.css' %}">

{% endblock css %}

{% block content %}
    {% include "media.html" %}
    {% include 'trending_art.html' %}
    {% include "leader_board.html" %}
    {% include "footer.html" %}
{% endblock content %}
    

