{% load static %}

<div class="leaderboard-wrapper">
    <div class="leaderboard-content">
        <h1>Leaderboard of the Week</h1>
        <div class="leaders">
            <div class="leader">
                <div id="id">#1</div>
                <img src="{% static 'images/perperzon.png' %}" alt="">
                <p id="name">Perperzon</p>
                <p id="balance"><img src="{% static 'icons/ethereum.svg' %}" alt="">9.421 </p>
            </div>
            <div class="leader">
                <div id="id">#2</div>
                <img src="{% static 'images/antonson.png' %}" alt="">
                <p id="name">Richard</p>
                <p id="balance"><img src="{% static 'icons/ethereum.svg' %}" alt="">9.421 </p>
            </div>
            <div class="leader">
                <div id="id">#3</div>
                <img src="{% static 'images/michael.png' %}" alt="">
                <p id="name">Anderson</p>
                <p id="balance"><img src="{% static 'icons/ethereum.svg' %}" alt="">9.421 </p>
            </div>
            <div class="leader">
                <div id="id">#4</div>
                <img src="{% static 'images/anderson.png' %}" alt="">
                <p id="name">Perperzon</p>
                <p id="balance"><img src="{% static 'icons/ethereum.svg' %}" alt="">9.421 </p>
            </div>
            <div class="leader">
                <div id="id">#5</div>
                <img src="{% static 'images/richard.png' %}" alt="">
                <p id="name">Antonson</p>
                <p id="balance"><img src="{% static 'icons/ethereum.svg' %}" alt="">9.421 </p>
            </div>
        </div>
    </div>
</div>