{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>NFT - {{nft.name}}</title>
{% endblock title %}
    
{% block css %}
<link rel="stylesheet" href="{% static 'styles/nft_details.css' %}">
{% endblock css %}
{% block content %}
<div class="nft-wrapper">
    <div class="nft-content">
        <div class="left">
            <img src="{{nft.image.url}}" alt="">
        </div>
        <div class="right">
            <div class="title">
                <h1>{{nft.name}}</h1>
                <p class="created_at">Minted on {{nft.created_at}}</p>
            </div>
            <div class="price">
                <img src="{% static 'icons/ethereum.svg' %}" alt=""> <p>{{nft.price}}</p>
            </div>
            <div class="owner">
                <img src="{% static 'icons/avatar.png' %}" alt=""> <p> {{nft.owner}}</p>
            </div>
            <div class="description">
                <p class="title">Description</p>
                <p class="desc">{{nft.description}}</p>
            </div>
        </div>
    </div>
    <div class="wave"></div>
</div>
{% endblock content %}
    

