{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Update NFT</title>
{% endblock title %}


{% block css %}
<style>
    .nft-form-wrapper {
        padding: 120px 100px;
    }
    .nft-form-wrapper > h1 {
        position: absolute;
        left: 0;
        top: 200px;
        width: 100%;
        height: 80vh;
        z-index: -1;
        text-align: center;
    }
</style>
{% endblock %}


{% block content %}

<div class="nft-form-wrapper">
    <h1>Update new NFT</h1>

    {% include 'nft_form.html' with nft_obj=nft_obj %}
</div>

{% endblock content %}

