{% extends 'base.html' %}

{% block title %}
<title>Cars details</title>
{% endblock %}


{% block css %}
<style>
    .btn-link {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        background-color: slategray;
        color: snow;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-link:hover {
        background-color: darkslategray;
    }

    .car-details-wrapper {
        text-align: left;
        margin: 0 auto;
    }

    .car-details-wrapper * {
        font-size: 1.5em;
        display: inline-block;
        margin-bottom: 10px;
    }

    .img-container {
        display: inline-block;
        position: relative;
    }

    .img-container a {
        position: absolute;
        bottom: 10px;
        display: none;
        left: 10%;
        width: 80%;
        text-align: center;
        text-decoration: none;
        font-size: 2em;
        color: snow;
        background-color: rgb(0, 0, 0, 0.6);
        border-radius: 10px;
        cursor: pointer;
    }


    img {
        border-radius: 10px;
        width: 250px;
        height: 200px;
        margin: 5px;
    }

    .img-container:hover img {
        filter: brightness(0.8) grayscale(0.8);
        transform: scale(1.1);
    }

    .img-container:hover a {
        display: block;
    }

    .img-container a:hover {
        background-color: rgb(255, 0, 0, 0.6);
    }
</style>
{% endblock %}


{% block content %}
<h1>Cars details of - {{ car }}</h1>

<br>
<br>

<div class="images-wrapper">
    {% for img in images %}
    <div class="img-container">
        <img src="{{img.image.url}}">
        {% if request.user.is_authenticated and request.user == car.author_of_ad %}
        <a class="delete" onclick="deleteCarImage('{{img.id}}')">Delete</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

<div class="car-details-wrapper">
    <b>ID:</b> {{ car.id }} <br />
    <b>Model:</b> {{ car.model|title }} <br />
    <b>Brand:</b> {{ car.brand }} <br />
    <b>Year:</b> {{ car.year }} <br />
    <b>Color:</b> {{ car.color }} <br />
    <b>Price:</b> ${{ car.price }} <br />
    <b>Address:</b> {{ car.address }} <br />

    {% if request.user.is_authenticated and request.user == car.author_of_ad %}
    <a class="btn-link" href="{% url 'update_car_view' car.id %}">Update</a>
    {% endif %}
    <hr />
</div>
{% endblock %}


{% block script %}
<script>
    function deleteCarImage(imageId) {
        let url = `{% url 'delete_car_img' 99999999999999 %}`
        if (confirm('Would you like to delete this image?')) {
            url = url.replace('99999999999999', imageId)
            location.href = url
        }
    }
</script>
{% endblock %}