{% extends 'base.html' %}

{% block title %}
<title>Cars list</title>
{% endblock %}


{% block css %}
<style>
  ul {
    list-style-type: none;
  }


  .btn-link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: slategray;
    color: snow;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-link:hover {
    background-color: darkslategray;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 30px;
    margin-bottom: 20px;
  }

  .container .left img {
    border-radius: 10px;
    width: 300px;
    height: 200;
  }

  .container b {
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 5px;
  }
  .container span {
    font-size: 1.3em;
  }
</style>
{% endblock %}


{% block content %}
<h1>Cars list</h1>

<br>
<br>

<ul>
  {% for car in cars %}
  <li>
    <div class="container">
      <div class="left">
        <img src="{{car.image.url}}" >
      </div>
      <div class="right">
        <b>ID:</b>       <span>{{ car.id }}</span> <br />
        <b>Model:</b>    <span>{{ car.model|title }}</span> <br />
        <b>Brand:</b>    <span>{{ car.brand }}</span> <br />
        <b>Year:</b>     <span>{{ car.year }}</span> <br />
        <b>Color:</b>    <span>{{ car.color }}</span> <br />
        <b>Price:</b>    <span>${{ car.price }}</span> <br />
        <b>Address:</b>  <span>{{ car.address }}</span> <br />
        <b>Category:</b> <span>{{ car.category }}</span> <br />
      </div>
    </div>
    <a class="btn-link" href="{% url 'update_car_view' car.id %}">Update</a>
    <a class="btn-link" href="{% url 'car_details_view' car.id %}">View</a>
    <a class="btn-link" href="#" onclick="conformDeletion('{{car.id}}')">Delete</a>
    <br />
    <br />
    <hr />
  </li>
  {% endfor %}
</ul>
{% endblock %}


{% block script %}
<script>
  function conformDeletion(carID) {
    let url = `{% url 'delete_car' 99999999 %}`
    if (confirm("Would you like to delete the car?")) {
      url = url.replace('99999999', carID)
      location.href = url
    }
  }
</script>
{% endblock %}