{% extends 'base.html' %}

{% block title %}
<title>Cars list</title>
{% endblock %}

{% block css %}
<style>
  ul {
    list-style-type: none;
  }

  .btn-link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: slategray;
    color: snow;
    border-radius: 5px;
    cursor: pointer;
  }

  .like {}

  .btn-link:hover {
    background-color: darkslategray;
  }

  .container {
    margin-bottom: 20px;
  }

  .container .left img {
    border-radius: 10px;
    width: 200px;
    height: 150px;
  }

  .container b {
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 5px;
  }

  .container span {
    font-size: 1.3em;
  }
</style>
{% endblock %}

{% block content %}
<h1>Cars list</h1>

<br />
<br />

<ul>
  {% include 'pagination.html' with page_obj=page_obj is_paginated=is_paginated paginator=paginator %}

  {% for obj in cars %}
  <!-- {car, images} == obj in cars -->
  <li>
    <div class="container">
      <div class="left">
        {% for img in obj.images %}
        <img src="{{ img.image.url }}" />
        {% endfor %}
      </div>
      <div class="right">
        <b>ID:</b> <span>{{ obj.car.id }}</span> <br />
        <b>Model:</b> <span>{{ obj.car.model|title }}</span> <br />
        <b>Brand:</b> <span>{{ obj.car.brand }}</span> <br />
        <b>Year:</b> <span>{{ obj.car.year }}</span> <br />
        <b>Color:</b> <span>{{ obj.car.color }}</span> <br />
        <b>Price:</b> <span>${{ obj.car.price }}</span> <br />
        <b>Address:</b> <span>{{ obj.car.address }}</span> <br />
        <b>Category:</b> <span>{{ obj.car.category }}</span> <br />
      </div>
    </div>
    {% if request.user.is_authenticated %}
    <a class="btn-link" href="{% url 'car_details_view' obj.car.id %}">View</a>

    {% if request.user == obj.car.author_of_ad %}
    <a class="btn-link" href="{% url 'update_car_view' obj.car.id %}">Update</a>
    <a class="btn-link" href="#" onclick="conformDeletion('{{ obj.car.id }}')">Delete</a>
    {% endif %}

    {% if request.user != obj.car.author_of_ad %}
      {% if obj.car.id not in favorites %}
      <a class="btn-link like" href="{% url 'add_to_favorites' obj.car.id %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063q.068.062.132.129.065-.067.132-.129c3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3 3 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398" />
        </svg>
      </a>
      {% else %}
      <a class="btn-link dislike" href="{% url 'remove_from_favorites' obj.car.id %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2 2 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386" />
        </svg>
      </a>
      {% endif %}
    {% endif %}

    {% endif %}
    <br />
    <br />
    <hr />
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block script %}
<script>
  function conformDeletion(carID) {
    let url = `{% url 'delete_car' 99999999 %}`
    if (confirm('Would you like to delete the car?')) {
      url = url.replace('99999999', carID)
      location.href = url
    }
  }

  const imgs = document.querySelectorAll('img')
  imgs.forEach((img) => {
    img.addEventListener('click', (e) => {
      e.target.requestFullscreen()
    })
  })
</script>
{% endblock %}