@import "../../assets/styles/settings";

.footer-wrapper {
    .footer-top {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        gap: 50px;
        padding: 50px 0;

        .footer-logo {
            padding-left: 100px;
        }

        .footer-links {
            display: flex;
            justify-content: flex-start;
            gap: 20px;

            a {
                display: block;
                padding: 10px 0;
                color: gray;
                font-size: 0.8em;
                text-decoration: none;

                &:hover {
                    color: $warning;
                }
            }
        }
    }
}
