@import '_settings.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}


%btn {
    padding: 10px 20px;
    border: 1px solid $lightblue;
    color: $blue;
    cursor: pointer;
    border-radius: 10px;


    &:hover {
        background-color: $blue;
        color: $white;
    }

    &:active {
        transform: scale(0.8);
    }

    &:focus {
        outline: 3px solid $lightblue;
    }
}

button {
    @extend %btn;
}


.muted {
    color: gray;
    font-size: 14px;
}


a {
    color: $blue;

    &.active {
        color: $dark;
    }
}