@use "./assets/styles/resets";
@import "./assets/styles/settings";



body {
    background-color: $dark;
    color: $light;
}

p {
    color: $text-color;
}

a,
button:not(.close-btn),
input {
    border: none;
    outline: none;
    display: inline-block;
    padding: 10px 20px;
    color: $light;
    text-decoration: none;
}

.warning-btn {
    background-color: $warning-t;
    box-shadow: 0 1px 10px $warning, -0 -1px 10px $warning;
    border: 2px solid $warning;
    cursor: pointer;

    &:hover {
        box-shadow: 1px 1px 15px $warning, -1px -1px 15px $warning;
    }

    &:active {
        transform: scale(0.8);
    }
}


::selection {
    background-color: $warning;
    color: $light;
}

.toast-wrapper {
    position: relative;
    z-index: 9999;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: $warning;
    border-radius: 10px;
    border: 2px solid black;
}