@import "../../../assets/styles/settings";

.carousel-c-wrapper {
    position: relative;
    z-index: 1;

    .carousel-c-children {
        width: 500px;
        background-color: transparent;
        position: absolute;
        z-index: 2;
        left: 10%;
        top: 25%;

        * {
            margin-bottom: 50px;
        }
        p {
            font-size: 1.2em;
        }
        button {
            @extend %warning-btn;
        }
    }

    .carousel-root {
        .control-dots {
            .dot {
                transform: scale(1.4);
            }
            .dot.selected {
                transition: 0.2s;
                background-color: $warning;
                transform: scale(1.5);
                box-shadow:
                    1px 1px 5px 1px $warning-t,
                    -1px -1px 5px 1px $warning-t;
            }
        }
    }
}
