@use '../resets.scss';
@import '../settings.scss';


header {

    .upper-nav {
        @include flex($justify: space-between);
        box-shadow: 0 8px 16px -8px rgba(0, 0, 0, .2);
        padding: 20px 250px;

        a {
            text-decoration: none;
        }

        .nav-right-side {
            display: flex;
            justify-content: center;
            align-items: center;

            .favorites {
                position: relative;
                right: 20px;

                #favorites-count {
                    color: blue;
                    font-weight: bold;
                    position: absolute;
                    bottom: -10px;
                    right: -10px;
                    font-size: 1.5em;
                }
            }

            .dropdown {
                display: inline-block;
                position: relative;
                padding: 10px 20px;
                cursor: pointer;

                .drp-content {
                    width: 200px;
                    box-shadow: 0 16px 32px lightgray;
                    position: absolute;
                    top: 40px;
                    display: none;

                    a {
                        display: block;
                        padding: 10px 20px;
                        text-decoration: none;
                        width: 100%;
                        background-color: $light-bg;

                        &:hover {
                            background-color: $blue;
                            color: $light-bg;
                        }

                        &:first-child {
                            border-radius: 5px 5px 0 0;
                        }

                        &:last-child {
                            border-radius: 0 0 5px 5px;
                        }
                    }
                }

                &:hover .drp-content {
                    display: block;
                }
            }
        }
    }

    nav {
        padding: 20px 250px;
        @include flex($justify: space-between);

        .auto-nav-links {
            a {
                padding: 10px 0;
                margin: 0 20px;
                display: inline-block;
                text-decoration: none;

                &.active {
                    border-bottom: 2px $blue solid;
                }
            }
        }

        .auto-actions {
            @include flex($direction: column);

            button {
                a {
                    text-decoration: none;
                }

                &:hover {
                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}