{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>About US</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/about_us.css' %}" />
{% endblock %}

{% block content %}
  <div class="card-header2">
    <h2>About US</h2>
  </div>
  <br />
  <br />

  <div class="video-container">
    <iframe width="570" height="409" src="https://www.youtube.com/embed/MWkIxYtB8Ag?si=hoUESAizI-x5XHxa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <div class="video-info">
      <h2>Cryptocurrency News</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic placeat fugiat rem illo ipsa, temporibus doloremque officiis non, maiores saepe, minus quasi. Esse modi, explicabo incidunt eum doloremque asperiores, dolores hic vero mollitia dignissimos dicta dolore optio ex. Sint culpa eaque quos earum dolores totam nobis rem sed magni modi qui, iusto porro recusandae, iure quae! Ipsa, vitae est. Cumque aspernatur quo earum eveniet eaque tempore consectetur suscipit dolorum itaque!</p>
      <button class="watch-button">Contact us</button>
    </div>
  </div>
  <br />
  <br />
  <br>
  <br />
  <div class="card-header2">
    <h2>Our Features</h2>
  </div>
  <br />
  <br />
  
  <div class="card-container">
    <div class="card">
      <img src="{% static 'images/21.png' %}" />
      <h2>Название Фото 1</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, vel?</p>
    </div>

    <div class="card">
      <img src="{% static 'images/cashback 1.png' %}" />
      <h2>Название Фото 2</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, vel?</p>
    </div>

    <div class="card">
      <img src="{% static 'images/Group (1).png' %}" />
      <h2>Название Фото 3</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, vel?</p>
    </div>

    <div class="card">
      <img src="{% static 'images/Group.png' %}" />
      <h2>Название Фото 4</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, vel?</p>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="card-header2">
    <h2>Our Client Say!</h2>
  </div>
  <div class="new-card-container"> 
    <div class="new-card-header">
    </div>
    <div class="new-image-grid">
      <img src="{% static 'images/OhKElOkQ3RE.png' %}" />
      <img class="main-image" src="{% static 'images/Mask Group.png' %}"  />
      <img src="{% static 'images/Mask Group (1).png' %}"/>
    </div>
    <div class="new-card-description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, ea nisi, facilis laudantium saepe ipsam vero a quasi qui doloribus hic natus dicta eligendi omnis nobis repellendus. At, minus praesentium.</p>
    </div>
  </div>
  <br>
  <br>
  <br>
{% endblock %}
