{% load static %}

<style>
  .app {
    width: 80%;
    display: flex;
    gap: 250px;
    height: 392px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #151515;
    padding: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .app p {
    display: inline-block;
    width: 400px;
    color: #fff;
    font-size: 68.89px;
    line-height: 84.5px;
    font-weight: 500;
    font-family: sans-serif;
  }

  .app button {
    width: 207px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 13px;
    background-color: transparent;
  }

  .app a {
    color: #fff;
  }

  .app button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .app button a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    border: none;
    outline: none;
  }

  .app .phone-img {
    margin-top: -210px;
    margin-right: 170px;
  }

  .app .leftside-img {
    position: absolute;
    margin-left: -220px;
    margin-top: -150px;
  }

  @media screen and (max-width: 1200px) {

    .app .phone-img,
    .leftside-img {
      display: none;
    }

    .app {
      width: 60%;
      height: auto;
      margin: 0 auto;
    }

    .app div {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .app p {
      width: 100%;
      left: 0px;
    }
  }

  @media screen and (max-width: 800px) {
    .app {
      width: 100%;
      margin: 0 auto;
    }

    .app div {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .app p {
      width: 100%;
      left: 0px;
    }

    .app button {
      width: 100%;
    }

    .app.phone-img {
      display: none;
    }

    .app.leftside-img {
      display: none;
    }
  }

  @media screen and (max-width: 450px) {
    .app {
      width: 100%;
      margin: 0 auto;
    }

    .app div {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .app p {
      width: 100%;
      left: 0px;
    }

    .app button {
      width: 100%;
    }

    .app.phone-img {
      display: none;
    }

    .app.leftside-img {
      display: none;
    }

    .app p {
      font-size: 48px;
      line-height: 60px;
      width: 100%;
      left: 0px;
    }
  }
</style>

<footer class="app">
  <img src="{% static 'images/ball.png' %}" alt="" class="leftside-img" width="200px" height="200px" />
  <div>
    <p>Try our App Mobile NFT</p>
    <button>
      <img src="{% static 'icons/download.png' %}" alt="" />
      <a href="#download">Download Now</a>
    </button>
  </div>
  <img src="{% static 'images/phone.png' %}" alt="" class="phone-img" width="422px" height="501px" />
</footer>