{% comment %}This should be inserted into form tag{% endcomment %}

{% block css %}
<style></style>
{% endblock %}


<!-- Add a file input for multiple images -->
<label for="image_upload">Upload Images:</label>
<input type="file" id="image_upload" name="images" multiple />
<div class="uploaded-images"></div>



{% block script %}
<script>
    // Get the file input
    const fileInput = document.getElementById('image_upload')
    // Get the uploaded images div
    const uploadedImages = document.querySelector('.uploaded-images')

    // Listen for file selection
    fileInput.addEventListener('change', (e) => {
        // Get the selected files
        const files = e.target.files

        // Loop through the files
        for (let i = 0; i < files.length; i++) {
            // Create an image element
            const img = document.createElement('img')

            // Set the image source
            img.src = URL.createObjectURL(files[i])

            // Set the image style
            img.setAttribute('style', `
          width: 100px;
          height: 100px;
          margin: 10px 5px 10px 0;
          border-radius: 5px;
        `)

            // Append the image to the uploaded images div
            uploadedImages.appendChild(img)
            img.addEventListener('click', () => {
                img.remove()
                files[i] = null
            })
            // img.addEventListener('click', () => img.requestFullscreen())
        }
    })
</script>
{% endblock %}