{% load static %}

<style>
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 100px 10px 100px;
    }

    a,
    input {
        display: inline-block;
        border: none;
        outline: none;
    }

    nav .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    nav .right {
        text-align: right;
    }

    nav a {
        text-decoration: none;
        color: #444;
        font-family: sans-serif;
        padding: 10px 20px;
    }

    nav a.selected {
        font-weight: bold;
    }

    .searchbar-warpper-parent {
        width: 300px;
    }

    .sign-in-link {
        font-size: 1.2em;
        border: solid 1px gray;
        border-radius: 5px;
        transition: 0.3s;
    }

    .sign-in-link:hover {
        background-color: #222;
        color: snow;
    }

    .sign-in-link:active {
        transform: scale(0.8);
    }

    .sign-in-link svg {
        position: relative;
        top: 2px;
    }
</style>

<nav>
    <div class="left">
        <a href="{% url 'landing_page' %}" id="logo">
            <img src="{% static 'icons/logo.png' %}" alt="logo">
        </a>
        <div class="searchbar-warpper-parent">
            {% include 'searchbar.html' %}
        </div>
    </div>
    <div class="right">
        <a href="#explore" class="selected">Explore</a>
        <a href="#trending">Trending🔥</a>
        <a href="{% url 'faq' %}">FAQ</a>

        {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}" title="Logout"> Logout
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                <path fill-rule="evenodd"
                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
            </svg>
        </a>
        {% else %}
        <a class="sign-in-link" href="{% url 'account_login' %}">Sign in
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill"
                viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
            </svg>
        </a>
        {% endif %}

    </div>
</nav>