<style>
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px 50px 10px 50px;
    }

    a,
    input {
        display: inline-block;
        border: none;
        outline: none;
    }

    nav .left {
        display: flex;
        gap: 20px;
    }

    nav .right {
        text-align: right;
    }

    nav a {
        text-decoration: none;
        color: #444;
        font-family: sans-serif;
        padding: 10px 20px;
    }
    nav a.selected {
        font-weight: bold;
    }
</style>

<nav>
    <div class="left">
        <a href="{% url 'landing_page' %}" id="logo">💥</a>
        {% include 'searchbar.html' %}
    </div>
    <div class="right">
        <a href="#explore" class="selected">Explore</a>
        <a href="#trending">Trending🔥</a>
        <a href="#faq">FAQ</a>
    </div>
</nav>