{% load static %}
<footer class="footer set-width">
  <div class="footer__addr">
    <img src="{% static 'icons/logo.png' %}" alt="logo" />

    <h1>NFT Distro</h1>

    <address>
      Experience the Revolutionary World of Non-Fungible Tokens on Our Exclusive NFT Marketplace<br />

      <div class="switcher">
        <img src="{% static 'icons/sun.png' %}" alt="" class="sun" />

        <label>
          <input type="checkbox" />
          <div class="moving_circle"></div>
        </label>
        <img src="{% static 'icons/moon.png' %}" alt="" class="moon" />
      </div>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Company</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Explore</a>
        </li>

        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Creator</h2>

      <ul class="nav__ul nav__ul">
        <li>
          <a href="{% url 'faq' %}">FAQ</a>
        </li>
        <li>
          <a href="#">Become Artist</a>
        </li>
        <li>
          <a href="#">Сontact us</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Join Community</h2>
      <ul class="nav__ul">
        <li>
          <input type="email" placeholder="Enter Your email addres" />
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>©️ Company NFT Distro 2023</p>

    <div class="legal__links">
      <a href="https://ru-ru.facebook.com/" target="_blank"><span><img src="{% static 'icons/Facebook.png' %}" alt="" width="20px" /></span></a>
      <a href="https://www.google.com/" target="_blank"><span><img src="{% static 'icons/Google.png' %}" alt="" width="20px" /></span></a>
      <a href="https://x.com/" target="_blank"><span><img src="{% static 'icons/Twiter.png' %}" alt="" width="20px" /></span></a>
      <a href="https://www.apple.com/" target="_blank"><span><img src="{% static 'icons/Apple.png' %}" alt="" width="30px" /></span></a>
    </div>
  </div>
</footer>
