@import "../../assets/styles/settings";

.profile-form-wrapper,
.auth-content-wrapper {
    position: relative;

    .go-back-btn {
        position: absolute;
        top: -30px;
        left: -32px;
        cursor: pointer;
        border-radius: 50%;
        border: 2px outset $dark;
        width: 25px;
        height: 25px;
        font-size: 1.1em;
        font-weight: bold;
        padding: 0;
        background-color: $dark;
        color: $warning;
        @include flex(row, center, center, 0);

        &:active {
            border-style: inset;
        }
    }

    form {
        .form-control {
            margin-bottom: 20px;

            * {
                margin: 5px 0;
            }
        }

        label {
            text-align: left;
            display: block;
            font-family: sans-serif;
            margin-bottom: 2px;
        }

        textarea,
        input,
        button {
            width: 100%;
            margin: 5px 0;
            border: 2px solid transparent;
            padding: 15px 20px;
            outline: none;
            background-color: $dark;
            border: 1px solid transparent;
            color: snow;

            &.error {
                border: 2px solid red;
                box-shadow:
                    1px 1px 10px red,
                    -1px -1px 10px red,
            }

            &::placeholder {
                color: darkgray;
                font-size: 0.8em;
            }

            &:hover:not(.error),
            &:focus:not(.error) {
                border: 1px solid $warning;
                box-shadow:
                    1px 1px 30px $warning-t,
                    -1px -1px 30px $warning-t,
                    inset 0 1px 30px $warning-t,
                    inset 0 -1px 30px $warning-t;
            }
        }

        textarea {
            resize: vertical;
            transition: 0s;
        }

        button {
            cursor: pointer;

            &:active {
                transform: scale(0.9);
            }
        }

        p {
            &.error {
                color: red;
                font-size: 0.8em;
                font-style: italic;
                text-align: center;
            }
        }

        .forgot-password-link {
            text-align: right;
            margin-top: 10px;
            font-size: 0.8em;
            color: $link-color;
            text-decoration: none;
            display: block;
            padding: 10px 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media (max-width: $medium-screen) {
        form {
            .form-control {
                margin: 20px 0;
            }
        }
    }

    @media (max-width: $small-screen) {
        form {
            padding-top: 10px;
        }
    }
}