.navigation-wrapper {
    nav {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .left {
        }
        .middle {
        }
        .right {
        }
    }
}
