@import "../../assets/styles/settings";

.navigation-wrapper {
    nav {
        background-color: $dark;
        color: $light;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 25px 100px;
        box-shadow: 1px 1px 50px 10px $warning-t;
        position: relative;
        z-index: 1;

        * {
            display: inline-block;
        }
        a {
            color: $light;
            text-decoration: none;
            padding: 10px 20px;
        }

        .left {
        }
        .middle {
        }
        .right {
            button {
                margin-right: 15px;
            }
        }
    }
}
