$warning: #FF6600;
$warning-t: #FF660030;

$consultation-bg: #0A0A0A;
$dark: #141414;
$dark-lighter: #1C1C1C;

$light: #FFFFFF;
$text-color: #6C6C6C;


$success: #00FF0030;
$danger: #FF000030;

$xx-large-screen: 1600px;
$x-large-screen: 1350px;
$large-screen: 1100px;
$medium-screen: 900px;
$small-screen: 750px;


// @media (max-width: $xx-large-screen) {
// }
// @media (max-width: $x-large-screen) {
// }
// @media (max-width: $large-screen) {
// }
// @media (max-width: $medium-screen) {
// }
// @media (max-width: $small-screen) {
// }


// ====================================================
// ====================================================
// MIXINS

@mixin grid($columns: 12, $gap: 20px) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: $gap;
}

// USAGE:
// @include grid();
// @include grid(3, 10px);

@mixin flex($direction: row, $justify: flex-start, $align: flex-start, $gap: 10px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// USAGE:
// @include flex();
// @include flex(column, center, center);