@import '../../assets//styles/settings';


.team-page-wrapper {
    overflow-x: hidden;
    margin: 100px 0 50px 0;

    .heading-wrapper {
        margin-top: 10px;
        padding: 0 100px;
    }

    .text-wrapper {
        max-width: 940px;
        padding: 50px 100px;
        font-size: 1.1em;
        line-height: 1.5em;
    }

    .all-members-wrapper {
        @include flex(row, space-evenly, center);
        flex-wrap: wrap;
        margin: 100px 0;

        .member-wrapper {
            text-align: center;

            img {
                width: 210px;
                height: 210px;
            }
        }

        &.grayscale {
            .member-wrapper {
                img {
                    filter: grayscale(100%);
                }
            }
        }
    }

    .section {
        .heading-wrapper {
            margin-bottom: 50px;
        }

        .infos {
            position: relative;
            left: 100px;
            margin-bottom: 100px;

            h2 {
                color: gray;
                display: inline-block;
                margin-right: 50px;
                font-size: 40px;
                font-weight: normal;
            }
        }
    }
}



@media (max-width: $xx-large-screen) {}

@media (max-width: $x-large-screen) {}

@media (max-width: $large-screen) {
    .team-page-wrapper {
        .heading-wrapper {
            padding: 0 50px;
        }

        .text-wrapper {
            max-width: 1100px;
            width: 100%;
            padding: 50px;
        }
    }

}

@media (max-width: $medium-screen) {
    .team-page-wrapper {
        .section {
            .heading-wrapper {
                padding: 0;
            }


        }
    }

}

@media (max-width: $small-screen) {
    .team-page-wrapper {
        .section {
            .infos {
                left: 0;
            }
        }
    }
}