@import '../../assets/styles/settings';

.team-page-wrapper {
    overflow-x: hidden;

    .heading-wrapper {
        margin-top: 10px;
        padding: 0 100px;
    }

    .text-wrapper {
        padding: 50px 100px;
        font-size: 1.1em;
        line-height: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;

        .team-section {
            padding: 50px;
            box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
            --s: 140px;
            --c1: #2e2e2e;
            --c2: #1e1e1e;
            --_g: #0000 52%, var(--c1) 54% 57%, #0000 59%;
            background:
                radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0 calc(var(--s)/2),
                radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s)/2) 0,
                radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
                radial-gradient(farthest-side at 50% -33.33%, var(--_g)),
                var(--c2);
            background-size: calc(var(--s)/4.667) var(--s), var(--s) calc(var(--s)/4.667);

            margin: 50px auto;
            max-width: 170vh;
            border-radius: 10px;
        }

        h2 {
            text-align: center;
            color: #fff;
            font-size: 36px;
            margin-bottom: 20px;
        }

        .team-intro {
            font-size: 18px;
            line-height: 1.6;
            color: #bbb;
            text-align: center;
            margin-bottom: 40px;
        }

        .team-list {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 50px;

            li {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: column;
                padding: 15px;
                background-color: #2a2a2a;
                border-left: 5px solid $warning;
                border-radius: 8px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

                h3 {
                    margin: 0;
                    font-size: 22px;
                    color: $warning;
                }

                p {
                    margin: 0;
                    font-size: 16px;
                    color: #ccc;
                }
            }
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;

            .modal-content {
                background-color: #1e1e1e;
                max-height: 90vh;
                padding: 30px;
                border-radius: 10px;
                width: 90%;
                max-width: 600px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
                color: #fff;
                position: relative;
                text-align: center;


                h2 {
                    margin-top: 0;
                    font-size: 1.8em;
                    color: #fff;
                }

                p {
                    font-size: 1em;
                    color: #bbb;
                    line-height: 1.6;
                    margin: 15px 0;
                }

                img {
                    width: 50%;
                    height: 300px;
                }

                a:hover {
                    color: $warning;
                }

                a:active {
                    transform: scale(0.8);
                }

                .close {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    border-radius: 50%;
                    background-color: $dark;
                    cursor: pointer;
                    color: $warning;
                    width: 25px;
                    height: 25px;
                    padding: 0;
                    font-size: 1.5em;
                    @include flex(row, center, center, 0);

                    &:active {
                        transform: scale(0.8);
                    }
                }
            }
        }

        .all-members-wrapper {
            @include flex(row, space-evenly, center);
            flex-wrap: wrap;
            margin: 100px 0;

            .member-wrapper {
                text-align: center;


                img {
                    width: 210px;
                    height: 210px;
                    object-fit: cover;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            &.grayscale {
                .member-wrapper {
                    img {
                        filter: grayscale(100%);
                        margin: 20px;
                    }

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    .section {
        .heading-wrapper {
            margin-bottom: 50px;
        }

        .infos {
            position: relative;
            left: 100px;
            margin-bottom: 100px;

            h2 {
                color: gray;
                display: inline-block;
                margin-right: 50px;
                font-size: 40px;
                font-weight: normal;
            }
        }
    }
    
}


/* Медиазапросы */
@media (max-width: $xx-large-screen) {}

@media (max-width: $x-large-screen) {}

@media (max-width: $large-screen) {
    .team-page-wrapper {
        .heading-wrapper {
            padding: 0 50px;
        }

        .text-wrapper {
            max-width: 1100px;
            width: 100%;
            padding: 50px;
        }
    }
}

@media (max-width: $medium-screen) {
    .team-page-wrapper {
        .section {
            .heading-wrapper {
                padding: 0;
            }
        }
    }
}

@media (max-width: $small-screen) {
    .team-page-wrapper {
        .section {
            .infos {
                left: 0;
            }
        }
    }
}